@media (max-width: 768px) {
    html {
        font-size: 45;
    }
    img{
        width: 60%;
    }
    body{
   background-image: none;
   background-color: rgb(204, 219, 228);
  }
  main{
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 60px;
    gap: 20px;
    border-radius: 5px;
    background-color: rgb(204, 219, 228);
  }
  .form input {
    border: 0;
    padding: 7px;
    width: 30vw;
    border: 2px solid black;
    border-radius: 20px;
    outline: 0;
  }
}